extends ./layout

block head
   link(href='/css/content.css' rel='stylesheet')
block content
   .row.featurette#content-container
      .col-md-6.col-md-offset-1       
         .contentTitle
            .page-header
               h1= title 
                  small _!{topic}
               | !{date}  
            #contentView
               | !{content}
      .col-md-4.col-md-offset-1#content-sidebar         
   hr
   nav(aria-label='Page navigation')
      footer.footer
         .container
               -var previous = '/content/'+ topic + '/' +(currentPage - 1)
               a(href=previous, aria-label='Previous')
                  | prev
               b     
               each page in pageArr
                  -var pageLink = '/content/'+ topic + '/' + page
                  if currentPage === page
                     a(href=pageLink id='currentHref')= page + "  "  
                  else  
                     a(href=pageLink)= page + "  "            
                           
               -var next = '/content/'+ topic + '/' + (currentPage + 1)  
               a(href=next, aria-label='Next')
                  | next

block footer
   link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/agate.min.css")
   script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js")
   script.
      hljs.initHighlightingOnLoad();                       
